/* Estilos para a página Faça sua Reserva */
.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
  color: #343a40;
}

.container p {
  color: #6c757d;
}
#reservation-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #reservation-form h2 {
    color: #343a40;
  }
  
  #reservation-form button {
    margin-top: 10px;
  }
  